In [4]:
import os
import json
import numpy as np
import pandas as pd

In [9]:
dic.keys()

dict_keys(['hide', 'uid', 'views', 'ip', 'tid', 'fid', 'date', 'credits', 'groupid'])

In [19]:
dic['hide']

0

In [12]:
dic.values()

dict_values([0, '7f1f9b841276d72fd5736c337716bc3eb5d3c452', 3792, '67.174.000.000', 'f4d89019d5f809509994cee01b350d788c150e13', '287', '2018-11-27 13:33:40', '0', '36dedb41152799c38f183131b7a610f89c9dcc27'])

In [20]:
t

(0,
 '5e1f196707a5b18aadc345275e1a4d4af1d5ef5e',
 16,
 '206.188.000.000',
 '94d8bdc4f4a5f6f63efe7f1a93e5866e7d29d888',
 '145',
 '2018-11-30 06:25:03',
 '107',
 'f23f03e1da4c8f5beee35bad0ad12febdfca5995')

In [26]:
str(t)

"(0, '5e1f196707a5b18aadc345275e1a4d4af1d5ef5e', 16, '206.188.000.000', '94d8bdc4f4a5f6f63efe7f1a93e5866e7d29d888', '145', '2018-11-30 06:25:03', '107', 'f23f03e1da4c8f5beee35bad0ad12febdfca5995')"

In [29]:
ln = 0
f = open("anonym_viewthread-20181130.log",'r',encoding='utf-8')
for line in f.readlines():
    ln += 1
    dic = json.loads(line)
    t = dic['hide'],dic['uid'],dic['views'],dic['ip'],dic['tid'],dic['fid'],dic['date'],dic['credits'],dic['groupid']
    f = open("20181130.txt",'a',encoding='utf-8')
    f.writelines(str(t))
    f.write("\n")
f.write(str(ln))
f.close()

In [32]:
ln

921001

In [30]:
data = pd.read_csv("data_20181130.txt", sep=",", header=None)

In [31]:
data.head()

,0,1,2,3,4,5,6,7,8
0,(0,'19a456ef3467d0328f6b34bb095c235a8aca86ff',395,'73.42.000.000','37bfca887c74d08b7dda7790829106aeb69d7daa','145','2018-11-27 13:33:38',0,'314786709c4319bc9611a782ff5e836f61786592')
1,(0,'19a456ef3467d0328f6b34bb095c235a8aca86ff',973,'157.55.000.000','37bfca887c74d08b7dda7790829106aeb69d7daa','87','2018-11-27 13:33:38',0,'314786709c4319bc9611a782ff5e836f61786592')
2,(188,'e943987aaa831a93c47c3fcc00970156f06f1932',22495,'71.204.000.000','efe1fb334f3072d1501076388fbd2a1789543b96','145','2018-11-27 13:33:38','335','3ec8d2ff8ca01fce532be5dcb8c5668c60c16cd9')
3,(0,'19a456ef3467d0328f6b34bb095c235a8aca86ff',41269,'72.193.000.000','37bfca887c74d08b7dda7790829106aeb69d7daa','127','2018-11-27 13:33:39',0,'314786709c4319bc9611a782ff5e836f61786592')
4,(0,'1b495d735924b8c13c0dfec3d48ee081998da026',247,'218.97.000.000','c45c217985c8128c1f6d8d0e555119fd78dfd561','124','2018-11-27 13:33:40','721','3ec8d2ff8ca01fce532be5dcb8c5668c60c16cd9')

In [8]:

f = open("anonym_viewthread-20181130.log",'r',encoding='utf-8')
ln = 0
for line in f.readlines():
    ln += 1
    dic = json.loads(line)
    #t = dic['id'],dic['com_name'],dic['com_register_time']
    if ln>5:
        break
    else:
        print(dic)
    #f = open("out/data.txt",'a',encoding='utf-8')
    #f.writelines(str(t));
    #f.write("\n")
    #f.write(str(ln))

{'hide': 0, 'uid': '19a456ef3467d0328f6b34bb095c235a8aca86ff', 'views': 395, 'ip': '73.42.000.000', 'tid': '37bfca887c74d08b7dda7790829106aeb69d7daa', 'fid': '145', 'date': '2018-11-27 13:33:38', 'credits': 0, 'groupid': '314786709c4319bc9611a782ff5e836f61786592'}
{'hide': 0, 'uid': '19a456ef3467d0328f6b34bb095c235a8aca86ff', 'views': 973, 'ip': '157.55.000.000', 'tid': '37bfca887c74d08b7dda7790829106aeb69d7daa', 'fid': '87', 'date': '2018-11-27 13:33:38', 'credits': 0, 'groupid': '314786709c4319bc9611a782ff5e836f61786592'}
{'hide': 188, 'uid': 'e943987aaa831a93c47c3fcc00970156f06f1932', 'views': 22495, 'ip': '71.204.000.000', 'tid': 'efe1fb334f3072d1501076388fbd2a1789543b96', 'fid': '145', 'date': '2018-11-27 13:33:38', 'credits': '335', 'groupid': '3ec8d2ff8ca01fce532be5dcb8c5668c60c16cd9'}
{'hide': 0, 'uid': '19a456ef3467d0328f6b34bb095c235a8aca86ff', 'views': 41269, 'ip': '72.193.000.000', 'tid': '37bfca887c74d08b7dda7790829106aeb69d7daa', 'fid': '127', 'date': '2018-11-27 13:33:39', 'credits': 0, 'groupid': '314786709c4319bc9611a782ff5e836f61786592'}
{'hide': 0, 'uid': '1b495d735924b8c13c0dfec3d48ee081998da026', 'views': 247, 'ip': '218.97.000.000', 'tid': 'c45c217985c8128c1f6d8d0e555119fd78dfd561', 'fid': '124', 'date': '2018-11-27 13:33:40', 'credits': '721', 'groupid': '3ec8d2ff8ca01fce532be5dcb8c5668c60c16cd9'}